*{
    box-sizing:border-box;
    padding:0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}
header{
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
section{
    display: -webkit-flex;
    display: flex;

}

nav{
    -webkit-flex: 0.5;
    -ms-flex: 4;
    flex: 0.5;
    background: #ccc;
    padding: 20px;

}

nav ul{
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}
nav ul li{
    padding-bottom: 5px;
}
nav ul li:hover{
    color: blue;
}

main{
    padding-top: 20px;
}

article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.25fr;
    column-gap: 20px;

}

footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}


@media (max-width: 600px) {
    section{
        -webkit-flex-direction:column;
        flex-direction: column;
    }
}
